<!-- Brand Image -->
<div class="d-flex justify-content-center">
  <a href="#">
    <img src="https://shoplineimg.com/5b4461529a76f081a2000629/5b7d37e6376ed50014514b38/x140.webp?source_format=png"
      width="350">
  </a>
</div>
<hr>

<div class="row mt-5">
  <div class="col-md-3 m-auto"></div>

  <div class="col-md-6 m-auto">
    <div class="card card-body">

      <h1 class="text-center mt-3">Sign up</h1>

      <!-- Flash message：提示 User。-->
      <!--" >message"：指render -> partials 資料夾內的 message.hbs。-->
      <!-- Handlebars 固定寫法-"大於符號 >"：Handlebars 渲染 partials 資料夾內，符合名稱的 template，可把樣板封裝成可重覆運用的模組：message.hbs。 -->
      <!-- messages -->

      <form action="/signup" method="POST">
        <!-- <label> for = <input> id：點擊<label>，對焦顯示<input> -->
        <div class="form-group">
          <!-- Nickname -->
          <div class="form-label-group">
            <label for="inputName">Nickname</label>
            <input type="text" name="name" class="form-control" placeholder="Enter Nickname" required autofocus>
          </div>
          </br>

          <!-- Email -->
          <div class="form-label-group">
            <label for="inputEmail">Email</label>
            <input type="text" name="email" class="form-control" placeholder="Enter Email" required autofocus>
          </div>
          </br>

          <!-- Password -->
          <div class="form-label-group">
            <label for="inputPassword">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Enter Password" required>
          </div>
          </br>

          <!-- Confirm Password -->
          <div class="form-label-group">
            <label for="inputPasswordCheck">Confirm Password</label>
            <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm Password" required>
          </div>
          </br>

          <!-- Register Button -->
          <button type="submit" class="btn btn-primary btn-block border-0">Register</button>
          </br>

          <!-- Facebook 驗證按鈕 -->
          <a href="/auth/facebook" class="btn btn-info btn-block border-0"
            style="background-color:#3B5998;border-color:#3B5998;" active>
            <i class="fab fa-facebook-square"></i>
            Sign up via Facebook
          </a>
          </br>

          <!-- Google 驗證按鈕 -->
          {{!-- <a href="/auth/google" class="btn btn-info btn-block border-0"
            style="background-color:#FF3E30;border-color:#FF3E30" active>
            <i class="fab fa-google"></i>
            Sign up via Google
          </a> --}}
        </div>

      </form>

      <!-- Register -->
      <div class="text-center mb-4">
        <p class="lead mt-4">
          Have an Account Already ?
          <a href="/signin">Sign In</a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-3 m-auto"></div>
</div>